FORENSIX_ENVIRONMENT=development
FORENSIX_DATA_DIR=data
FORENSIX_ADB_MODE=mock
FORENSIX_MOCK_ADB_SCENARIO=authorized
# FORENSIX_ADB_PATH=C:\Android\platform-tools\adb.exe
FORENSIX_API_HOST=127.0.0.1
FORENSIX_API_PORT=8765
